{% extends "index.html" %}
{% block content %}

    <h1>{{ title }}</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Capacidad Máxima</th>
                <th scope="col">Profesor</th>
            </tr>
        </thead>
        <tbody>
            {% for curso in cursos %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>    
                <td>{{ curso.nombre }}</td>
                <td>{{ curso.capacidad_max }}</td>
                <td>{{ curso.profesor.nombre }} {{ curso.profesor.apellidos }}</td>
                <td>
                    <!-- Botón para eliminar el estudiante por DNI -->
                    <a href="{% url 'eliminar_curso' curso.id %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro que deseas eliminar este curso?');">Eliminar</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Botón para agregar nuevos cursos -->
    <a href="{% url 'formulario_curso' %}" class="btn btn-primary">Agregar nuevo curso</a>

{% endblock %}

