{% extends "index.html" %}
{% block content %}

    <h1>{{ title }}</h1>

    <table class="table table-dark table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellidos</th>
                <th scope="col">DNI</th>
                <th scope="col">Rol</th>
            </tr>
        </thead>
        <tbody>
            {% for estudiante in estudiantes %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ estudiante.nombre }}</td>
                <td>{{ estudiante.apellidos }}</td>
                <td>{{ estudiante.dni }}</td>
                <td>{{ estudiante.rol }}</td>
                <td>
                    <!-- Botón para eliminar el estudiante por DNI -->
                    <a href="{% url 'eliminar-estudiante' estudiante.dni %}" class="btn btn-danger" onclick="return confirm('¿Estás seguro que deseas eliminar este estudiante?');">Eliminar</a>
                </td>
                
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Botón para agregar nuevos estudiantes -->
    <a href="{% url 'formulario_estudiante' %}" class="btn btn-primary">Agregar nuevo estudiante</a>

{% endblock %}
